@keyframes glow {
    0% {
      text-shadow: 0 0 5px #00f, 0 0 10px #00f, 0 0 15px #00f, 0 0 20px #00f;
   }
    100% {
      text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f;
   }
  }
  
  .glowing-text {
   color: #00f; /* Light blue color */
   animation: glow 2s ease-in-out infinite alternate;
  }